includeConfig '../shared.config'

process {
    executor = 'local'
    scratch = false
    errorStrategy = 'retry'
    maxRetries = 3

    withLabel: thermoconvert {
        container = "${params.trfp_img}"
        cpus = 5
        memory = '10 GB'
        time = '1h'
    }

    withLabel: openms {
        container = "${params.comet_img}"
        cpus = 2
        memory = '9 GB'
        time = '1h'
    }

    withLabel: ffm {
        container = "${params.comet_img}"
        cpus = 2
        memory = '9 GB'
        time = '1h'
    }

    withLabel: clitools {
        container = "${params.clitools_img}"
        cpus = 1
        memory = '9 GB'
        time = '1h'
    }

    withLabel: msnbase {
        container = "${params.msnbase_img}"
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

}
