params {

    url_api_user              = "REPLACE_ME"
    url_api_pass              = "REPLACE_ME"

    //Mascot server:
    username                  = "REPLACE_ME"
    password                  = "REPLACE_ME"

    // QCloud:
    url_api_qcloud_user       = "REPLACE_ME"
    url_api_qcloud_pass       = "REPLACE_ME"
    ptm_enrichment_context_source_api_key = "REPLACE_ME"
    ptm_enrichment_area_context_source_api_key = "REPLACE_ME"
    sequence_coverage_context_source_api_key = "REPLACE_ME"
    api_key_qc_params         = "REPLACE_ME"
}
