process {
    withLabel: comet {
        container = "${params.comet_img}"
        time = "8h"
        memory = "32G"
        cpus = "8"
    }

    withLabel: mascot {
        container = "${params.comet_img}"
        cpus = 8
        memory = { task.attempt == 1 ? '12G' : '24G' }
        time   = { task.attempt == 1 ? '6h'  : '12h' }
        errorStrategy = 'retry'
        maxRetries = 1
    }

    withLabel: diann {
        container = "${params.diann_img}"
        time      = "6h"
        memory    = "64G"
        cpus      = "20"
    }

    withLabel: diann_bruker { 
        container = "${params.diann_img}" 
        time = "6h" 
        memory = "64G" 
        cpus = "20" 
    } 

}
