process {
    withLabel: mascot {
        container = "${params.comet_img}"
        time      = "8h"
        memory    = "16G"
        cpus      = "4"
    }

    withLabel: comet {
        container = "${params.comet_img}"
        time      = "2h"
        memory    = "16G"
        cpus      = "4"
    }

    withLabel: diann {
        container = "${params.diann_img}"
        time      = "3h"
        memory    = "32G"
        cpus      = "10"
    }

    withLabel: diann_bruker {
        container = "${params.diann_img}"
        time      = "4h"
        memory    = "64G"
        cpus      = "40"
    }

    withLabel: fragpipe {
        container = "${params.fp_img}"
        time      = "2h"
        memory    = "48G"
        cpus      = "4"
    }
}
