params {
    //DIA-NN: 
    diann_img                   = "${params.home_dir}/mygit/atlas-imgs/diann-1.9.2.img"
    diann_cfg                   = "${params.home_dir}/mygit/atlas-config/atlas-main/assets/diann_192.cfg"
    diann_cfg_bruker            = "${params.home_dir}/mygit/atlas-config/atlas-main/assets/diann_192_bruker.cfg"
    diann_exec_cmd              = "/diann-1.9.2/diann-linux"
    diann_exec_cmd_bruker       = "/diann-1.9.2/diann-linux"
    diann_speclib_folder        = "${params.home_dir}/mygit/atlas-libs-192"
    diann_name_speclib_filter   = "astral"
}