process {
    withLabel: mascot {
        container = "${params.comet_img}"
        clusterOptions = '-l virtual_free=8G,h_rt=10800'
    }

    withLabel: comet {
        container = "${params.comet_img}"
        clusterOptions = '-l virtual_free=8G,h_rt=10800 -pe smp 5 -m abe'
    }

    withLabel: diann {
        container = "${params.diann_img}"
        clusterOptions = "-l virtual_free=20G,h_rt=7200 -pe smp 15 -m abe"
    }

    withLabel: diann_bruker {
        container = "${params.diann_img}"
        clusterOptions = "-l virtual_free=40G,h_rt=86400 -pe smp 40 -m abe"
    }

    withLabel: fragpipe {
        container = "${params.fp_img}"
        clusterOptions = "-l virtual_free=10G,h_rt=7200 -pe smp 5 -m abe"
    } 
}