params {
    //DIA-NN: 
    diann_speclib_folder        = "${params.home_dir}/mygit/atlas-libs"
    diann_name_speclib_filter   = "astral"
    assets                      = "${params.home_dir}/mygit/atlas-config/atlas-dev/assets"
    // DIA-NN report.tsv column number for peptide matching in QCloud metrics extraction
    // Column 14 = Modified.Sequence
    // Column 16 = Precursor.Id
    diann_sequence_column = 16
    duckdb_path = "/${params.home_dir}/mysoftware/duckdb/duckdb"  // Path to DuckDB binary for Parquet parsing
}