params {
    //DIA-NN: 
    diann_speclib_folder        = "${params.home_dir}/mygit/atlas-libs"
    diann_name_speclib_filter   = "astral"
    assets                      = "${params.home_dir}/mygit/atlas-config/atlas-dev/assets"
    duckdb_path = "/${params.home_dir}/mysoftware/duckdb/duckdb"  // Path to DuckDB binary for Parquet parsing
}