params {
    //OpenMS Mascot adapter:  
    search_title              = "QSample"
    hostname                  = "mascot.hpc.crg.es"
    host_port                 = "80" 
    server_path               = "mascot"
    timeout                   = "0" 
    precursor_mass_tolerance  = "'7'"
    precursor_error_units     = "ppm"
    fixed_modifications       = "'Carbamidomethyl (C)'"
    variable_modifications    = "'Oxidation (M)' 'Acetyl (N-term)'"
    enzyme                    = "'Trypsin'"    
    fragment_mass_tolerance   = "'0.5'"
    fragment_error_units      = "'Da'" 
    charges                   = "'2,3,4,5'"
    missed_cleavages          = "'3'"
    batch_size                = "50000"
    debug_code                = "1000"

    //OpenMS Comet engine adapter: 
    precursor_charge          = "2:5"
    comet_executable          = "$baseDir/tools/comet/comet.linux.2022.01.2.exe"
    comet_img                 = "${params.home_dir}/mygit/atlas-imgs/ghcr.io-openms-openms-executables-3.1.0.img"
    comet_virtual_free        = "20GB"
 
    //PeptideIndexer: 
    decoy_string             = "'###REV###'"
    decoy_string_position    = "'prefix'"
    missing_decoy_action     = "'warn'"
    unmatched_action         = "'remove'"
    aaa_max                  = "0"
    enzyme_specificity       = "full"

    //FalseDiscoveryRate:
    PSM                      = "'true'" 
    protein                  = "'false'"
    FDR_PSM                  = "'1'"
    FDR_protein              = "'1'"

    //IDFilter:
    score_pep                = "'0.05'"
    aaa_pep                  = "'0.0'"
    score_prot               = "'0.0'"
    aaa_prot                 = "'0.0'"
    black_regex              = "[XZ]+"

    //FeatureFinderMultiplex:
    algorithm_labels         = "''"
    algorithm_charge         = "'1:5'"
    algorithm_rt_typical     = "'40'"
    algorithm_rt_min         = "'2'"
    algorithm_mz_tolerance   = "'10'"
    algorithm_rt_band        = "'1'"
    
    //IDMapper:
    rt_tolerance             = "'40'"
    mz_tolerance             = "'10'"

    //ProteinQuantifier: 
    average                  = "'mean'"
}
