includeConfig '../shared.config'

process {

    executor = 'slurm'
    cache = 'lenient'
    queue = 'genoa64'
    cpus = '1'
    memory = '10G'
    time = '6h'
    scratch = false
    errorStrategy = 'ignore'

    clusterOptions = '--qos=core'

    withLabel: big_mem {
        memory = '60G' 
        time = '12h'   
    }

    withLabel: big_cpus {
        cpus = 8
        time = '6h'
        memory = '20G'
    }

    withLabel: little_comp {
        maxForks = 1
        maxRetries = 3
        errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
    }

    withLabel: local {
        executor = "local"
    }

    withLabel: thermoconvert {
        container = "${params.trfp_img}"
        cpus = 5
        time = '6h'
        memory = '32G'
    }

    withLabel: openms {
        container = "${params.comet_img}"
        time = '6h'
        memory = '9G'
    }

    withLabel: ffm {
        container = "${params.comet_img}"
        time = '6h'
        memory = '9G'
    }

    withLabel: clitools {
        container = "${params.clitools_img}"
        time = '1h'
        memory = '4G'
    }

}
