process {
    withLabel: comet {
        container = "${params.comet_img}"
        time = "8h"
        memory = "32G"
        cpus = "8"
    }

    withLabel: diann {
        container = "${params.diann_img}"
        time      = "6h"
        memory    = "64G"
        cpus      = "20"
    }

    withLabel: mascot {
        container = "${params.comet_img}"
        time      = "6h"
        memory    = "32G"
        cpus      = "8"
    }

}
