includeConfig '../shared.config'

process {

    executor = "crg" // replace with your sge executor
    queue = "pr-makarov-rocky9"
    scratch = false
    errorStrategy = 'retry'
    maxRetries = 3

    withLabel: thermoconvert {
        container = "${params.trfp_img}"
        clusterOptions = '-l virtual_free=25G,h_rt=86400 -pe smp 5 -m abe'
    }

    withLabel: openms {
        queue = 'pr-tanaka-el7'
        container = "${params.comet_img}"
        clusterOptions = '-l virtual_free=9G,h_rt=10800'
    }

    withLabel: ffm {
        queue = 'pr-tanaka-el7'
        container = "${params.comet_img}"
        clusterOptions = '-l virtual_free=9G,h_rt=10800'
    }

    withLabel: clitools {
        clusterOptions = '-l virtual_free=9G,h_rt=3600'
        container = "${params.clitools_img}"
    }
}