params {
    
    //Folders:
    home_dir                    = "/users/pr/proteomics"//for new Nextflow versions is mandatory
    databases_folder            = "${params.home_dir}/mygit/atlas-databases"
    contaminants_file           = "${params.home_dir}/mygit/atlas-config/atlas-test/assets/contaminants.fasta"
    contaminants_prefix         = "CON_"
    scripts_folder              = "$baseDir/bin"
    tools_folder                = "$baseDir/tools"  

    //API QSample:
    url_api_signin              = "10.102.1.54/api/auth/signin"
    url_api_insert_file         = "10.102.1.54/api/file/insertFromPipelineRequest"
    url_api_insert_wetlab_data  = "10.102.1.54/api/data/pipeline"
    url_api_insert_data         = "10.102.1.54/api/data/pipelineRequest"
    url_api_insert_quant        = "10.102.1.54/api/quantification/pipeline"
    url_api_fileinfo            = "10.102.1.54/api/fileInfo/pipeline"
    url_api_insert_modif        = "10.102.1.54/api/modification/pipeline"
    url_api_insert_wetlab_file  = "10.102.1.54/api/file/insertFromPipeline"

    //API QCloud: 
    url_api_qcloud_signin       = "10.102.1.26:8080/api/auth"
    url_api_qcloud_insert_data  = "10.102.1.26:8080/api/data/pipeline"
    url_api_qcloud_insert_file  = "10.102.1.26:8080/api/file"

    //api-key for inserting standard QC params: 
    api_key_qc_params           = "453a2301-6698-43dd-baae-7eb4c6a5eaa5"

    //Default search engine: 
    search_engine               = "fragpipe"    

    //Quantification script (from CSV to JSON): 
    num_max_prots = 1000

    //ThemoRawFileParser: 
    trfp_img                 = "${params.home_dir}/mygit/atlas-imgs/quay.io-biocontainers-thermorawfileparser-1.2.3--1.img"

    //CLI tools:
    clitools_img             = "${params.home_dir}/mygit/atlas-imgs/proteomicsunitcrg-clitools-latest.img"

    //MSnbase (QCloud): 
    msnbase_img              = "${params.home_dir}/mygit/atlas-imgs/community.wave.seqera.io-library-bioconductor-msnbase_r-ggplot2_r-optparse_r-pracma_r-readr-83cd263d3bfd0c9e.img"
} 

// Load tool-specific parameters
includeConfig 'tools/openms.config'
includeConfig 'tools/diann.config'
includeConfig 'tools/fragpipe.config'
includeConfig 'tools/qcloud.config'

singularity {
    enabled = true
    cacheDir = "${params.home_dir}/mygit/atlas-imgs"
    //For new versions of Nextflow:                                                     
    runOptions = "-B ${params.home_dir}:${params.home_dir}"
}
