params {
    //FragPipe: 
    fp_img                   = "${params.home_dir}/mygit/atlas-imgs/proteomicsunitcrg-fragpipe-22.0.img"
    fp_workflow              = "'${params.home_dir}/mygit/atlas-config/atlas-test/assets/fragpipe-220.workflow'"
    fp_tools                 = "'${params.home_dir}/mysoftware/FragPipe-extra-tools-22.0'"
    fp_jvm_ram_thermo        = "5"   // For .raw files
    fp_jvm_ram_bruker        = "32"  // For .d files
}
